.page-home{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    background-color: #F5F6FA;

    .box-container{
        display: flex;
        justify-content: baseline;
        flex-direction: column;

        width: 450px;
        min-height: 150px;

        padding: 25px;

        background-color: #fff;
    }

}