.comp-nav-bar{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;

    background-color: #fff;

    div{
        font-family: 'poppins-bold';
        font-size: 1.5em;
        color: #898585;
    }

}