.page-componentesii{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #F5F6FA;

    .card-container{
        width: 670px;
        min-height: 400px;
    
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        flex-wrap: wrap;
    
        padding: 25px;
    }

    .card-container > *{
        margin-bottom: 25px;
    }

}